<div class="grid_9 alpha">
    <!-- split "index" -->
    <h2>Dexy Filter Reference</h2>

    <p>
        Here you will find reference pages for each of the built-in dexy filters.
        Filters are what let dexy run code, transform text, and wrap libraries and
        tools so you can easily and reproducibly create any kind of document.
    </p>
    
    <p>
        If you have worked through the <a
            href="/guide/getting-started.html">getting started</a> tutorial,
        then you are already familiar with some of these filters like <a
            href="/ref/filters/pyg.html">pyg</a> and <a
            href="/ref/filters/jinja.html">jinja</a>.
    </p>

    <p>You can <a href="#filters">browse through the alphabetical list</a> or
    <a href="#tags">browse filters by tag</a> (not all filters are tagged yet,
    so the alphabetical list is more reliable).  </p>

    <h2 id="filters">Alphabetical List of Filters</h2>
    {% set current_release = DEXY_VERSION -%}
    {% set new_feature_release_cutoff = '1.0.0' -%}
    <h3>Symbols</h3>
    <table id="filter-symbols">
        <tr>
            <td><i class="icon-pencil"></i></td>
            <td>An example is provided for this filter.</td>
        </tr>
        <tr>
            <td><i class="icon-flag"></i></td>
            <td>This is a newly added filter (in version {{new_feature_release_cutoff}} or later).</td>
        </tr>
        <tr>
            <td><i class="icon-wrench"></i></td>
            <td>This filter was added after the current released version {{current_release}}. Will be in the next dexy release, and is available now if you install dexy from the <code>develop</code> branch.</td>
        </tr>
    </table>

    {% set filter_info = d['filter-info.json'].json_as_dict() -%}
    {% for k in sorted(filter_info) -%}
    {% set v = filter_info[k] -%}

    {% set count=len(v['examples']) -%}

    {% if v['settings']['added-in-version'][1] > current_release -%}
    {% set newicon = "<i class=\"icon-wrench\"></i>" -%}
    {% elif v['settings']['added-in-version'][1] >= new_feature_release_cutoff -%}
    {% set newicon = "<i class=\"icon-flag\"></i>" -%}
    {% else -%}
    {% set newicon = "" -%}
    {% endif -%}

    <!-- split "{{ k }} filter {{newicon}} ({{ " ".join(v.aliases) }}) {{ "<i class=\"icon-pencil\"></i>" * count }}" -->
    {% if v['firstdoc'] -%}
    <p>{{ v['firstdoc'] | e }}</p>
    {% endif -%}
    <!-- content -->
    <p><a href="/ref/filters/" class="button light small">&larr; Back to Filter List</a></p>

    <h2>{{ k }}</h2>
    <br />

    {% if count > 0 -%}
    <p><a href="#examples">&darr; examples</a></p>
    {% endif -%}

    {% if v['doc'] -%}
    <p>{{ v['doc'] }}</p>
    {% endif -%}

    <h3>Aliases for this filter</h3>
    <ul class="split">
        {% for alias in v['aliases'] -%}
        <li><code>{{ alias }}</code></li>
        {% endfor -%}
    </ul>

    <br />

    <h3>Converts from file formats:</h3>
    <ul>
        {% for ext in v.settings['input-extensions'][1] -%}
        <li><code>{{ ext }}</code></li>
        {% endfor -%}
    </ul>

    <br />

    <h3>To file formats:</h3>
    <ul>
        {% for ext in v.settings['output-extensions'][1] -%}
        <li><code>{{ ext }}</code></li>
        {% endfor -%}
    </ul>

    <br />

    <h3>Available settings:</h3>
    <table class="filter-settings">
        <tr><th width="30%">Setting</th><th width="60%">Description</th><th width="20%">Default</th></tr>
        {% for name in sorted(v.settings) -%}
        {% set setting_info = v.settings[name] -%}
        {% if not name in ('aliases',) -%}
        <tr><td>{{ name }}</td><td>{{ setting_info[0] }}</td><td>{{ setting_info[1] }}</td></tr>
        {% endif -%}
        {% endfor -%}
    </table>

    <div id="examples"></div>

    {% for example_text in v.examples -%}

    {{ example_text }}

    {% endfor -%}

    {% if v['defined_by_subclass'] -%}

    <div class="divider">
        <h5><span>Filter Source Code</span></h5>
        <!--Divider With Titling-->
    </div>

    {{ v['html_source'] }}

    {% endif -%}

    {% endfor %}

    <p><a href="/filters/" class="button light small">&larr; Back to Filter List</a></p>

    <!-- footer -->

    <h2 id="tags">Tags</h2>
    {% for tag, aliases in d['filter-tags.json'].from_json() -%}
    <h3 id="tag-{{ tag }}"><a href="#tag-{{ tag }}">{{ tag }}</a></h4>
    {% for alias, helpstring in aliases -%}
    <p>&nbsp;&nbsp;&nbsp;<a title="{{ helpstring }}" href="{{ alias }}">{{ alias }}</a>: {{ helpstring }}</p>
    {% endfor -%}
    {% endfor -%}

    <!-- endsplit -->

</div>
