<h4>Templates</h4>

{% for k in sorted(d) -%}{% if k.startswith("templates/") and k.endswith("index.html|hd|ft|jinja") -%}
{% set template_key = k.replace("templates/", "").replace("/index.html|hd|ft|jinja", "") -%}
<div class="divider">
    <h5><span>{{ template_key.replace("-", " ").title() }}</span></h5>
    <!--Titled Divider-->
</div>

<div class="grid_3 alpha">
    <p><a href="templates/{{ template_key }}">Template Info</a></p>
    <p><a href="templates/{{ template_key }}/{{ template_key }}-dexy-template.tgz">Download Template Files</a></p>
    <p><a href="templates/{{ template_key }}/template/journal.html">Full Page Preview</a></p>
</div>

<div class="grid_5 omega">
    <iframe src="templates/{{ template_key }}/template/journal.html" width="100%">
        <a href="templates/{{ template_key }}/template/journal.html">View Example</a>
    </iframe>
</div>

<div class="clear"></div>
{% endif -%}{% endfor -%}

<h4>Examples</h4>

{% for k in sorted(d) -%}
{% if k.startswith("examples/") and k.endswith("index.html|jinja") -%}
{{ k }}
{% endif %}
{% endfor %}
