<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>dexy : {{ page_title }}</title>
        {% include 'templates/_head.html'  %}
    </head>
    <body>
        {% include 'templates/_menu.html'  %}
        <!--Start Top Section -->
        <div class="featuredbg subfeaturedbg">
            <div class="breadcrumbs">
                <div class="container_12">
                    <div class="grid_12">
                        {% block breadcrumbs -%}
                        <p id="breadcrumbs">
                        {{ nav.breadcrumbs() }}
                        {% block extra_breadcrumbs -%}
                        {% endblock -%}
                        </p>
                        {% endblock -%}
                    </div>
                </div>
            </div>
            <div class="subfeaturetitle">
                <div class="container_12">
                    <div class="grid_12">
                        <h2>{{ page_title }}</h2>
                        <!--Page Title-->
                    </div>
                </div>
            </div>
            <div class="featuredtop"></div>
        </div>
        <!-- End TopSection -->
        <div class="clear"></div>
        <div class="subpagecontent">
            <div class="container_12">
                {% block maincontent -%}
                <div class="grid_10">
                    {{ content }}
                </div>
                {% endblock -%}
            </div>
            <div class="clear"></div>
            <div class="divider"></div>

            <div class="container_12">
                <div class="grid_12">
                    <div class="clear"></div>
                </div>
            </div>

        </div> <!--close subpagecontent-->
        <div class="clear"></div>
        {% block footer -%}
        {% endblock -%}
        {% include 'templates/_footer_menu.html' %}
        {% include 'templates/_script.html' %}
    </body>
</html>
