<div class="footer">
    <div class="container_12">
        <div class="grid_4">
            <h4 class="subheadline">How to</h4>
            <h2 class="subheadline">Contact Us</h2>
            <a href="mailto:info@dexy.it" class="button small light">email: info@dexy.it</a>
            <br />
            <br />
            <h4 class="subheadline">Quick Note</h4>
            <h2 class="subheadline">About Dexy</h2>
            <div id="testimonials_div">
                <div class="note rounded">
                    <h4>Dexy is a free-form literate documentation tool for
                        writing any kind of technical document incorporating
                        code. Dexy helps you write correct documents, and to
                        easily maintain them over time as your code
                        changes.</h4>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <!--Footer Twitter Feed Section-->
            <h4 class="subheadline">Latest News</h4>
            <h2 class="subheadline">From Twitter</h2>
            <a class="twitter-timeline"  href="https://twitter.com/dexyit" data-widget-id="270727927535112193">Tweets by @dexyit</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <!--END Footer Twitter Feed Section-->
        <div class="grid_4">
            <h4 class="subheadline">Thanks To</h4>
            <h2 class="subheadline">Dexy Sponsors</h2>
            <div class="note rounded">
                <a href="http://opengamma.com"><img src="/images/sponsorlogo-opengamma.png" /></a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="footertexture"></div><!--Footer Top Texture Absolute Positioned-->
</div>
<!--Credits Section-->
<div class="credits">
    <div class="container_12">
        <div class="grid_12">
            <p>Content &copy; {{ year }} Dr. Ana Nelson | Site Design &copy; Copyright 2011 Andre Gagnon | All Rights Reserved.</p>
        </div>
    </div>
</div>
<!--END Credits Section-->
