<meta name="keywords" content="documentation,literate programming,open source" />
<meta name="description" content="The home page of Dexy" />

<link href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css"></link><!--Google Fonts API -->
<link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet" type="text/css"></link><!--Google Fonts API -->
<link href="/css/reset.css" rel="stylesheet" type="text/css" media="all" /><!--Reset -->
<link href="/css/960.css" rel="stylesheet" type="text/css" media="all" /><!--Grid System -->
<link href="/css/typography.css" rel="stylesheet" type="text/css" media="all" /><!--All Website Typography -->
<link href="/css/skin.css" rel="stylesheet" type="text/css" media="all" /><!-- Skin -->
<link href="/css/layout.css" rel="stylesheet" type="text/css" media="all" /><!--Site Layout -->
<link href="/css/superfish.css" rel="stylesheet" type="text/css" media="all" /><!--Dropdown Navigation -->
<!--[if IE 7]>
<link href="/css/ie7.css" rel="stylesheet" type="text/css" media="all" />
<![endif]-->
<link rel="stylesheet" href="/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" /><!--Lightbox Styling-->

<!--font awesome-->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<!--Pygments Stylesheet-->
<link href="/css/pastie.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="/js/jquery-1.3.2.js"></script><!--Jquery Script-->
<script type="text/javascript" src="/js/hoverIntent.js"></script><!--Script to Stop Slideshow on Hover-->
<script type="text/javascript" src="/js/superfish.js"></script><!--Jquery Dropdown Navigation-->
<script type="text/javascript" src="/js/jquery.opacityrollover.js"></script><!--Rollover Effect-->
<!--Nivo Slider Initializations-->
<script type='text/javascript' src='/js/jquery.coda-slider-2.0.js'></script><!--Coda Slider-->
<link href='/css/coda-slider-home.css' rel='stylesheet' type='text/css' media='all' /><!--Coda Slider Styling-->
<script src="/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script><!--Pretty Photo Lightbox Script-->
<script type="text/javascript" src="/js/jquery-ui-1.8.11.custom.min.js" ></script><!--Jquery UI for Featured Tabs-->
<script type="text/javascript" src="/js/jquery.effects.core.js"></script><!--Jquery UI Effects for Transitions-->
<!--<script type="text/javascript" src="/js/jquery.ui.widget.js"></script>-->
<script type="text/javascript" src="/js/jquery.ui.tabs.js"></script><!--Jquery Featured Tabs UI-->
<script type="text/javascript" src="/js/jquery.validate.min.js"></script><!--Jquery Form Validation-->

