<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>dexy</title>
        {% include 'templates/_head.html'  %}
    </head>
    <body>
        {% include 'templates/_menu.html'  %}
        <!--Begin Coda Slider Featured Section-->
        <div class="featuredtotal">
            <div class="featuredbg codabg">
                <div class="container_12">
                    <div class="grid_12 relative">
                        <div class="coda-slider-wrapper">
                            <div class="coda-slider preload" id="coda-slider-2">
                                <div class="panel">
                                    <div class="panel-wrapper"><!--Place Slide Content Inside This Panel Wrapper-->
                                        <div class="grid_6 alpha">
                                            <div class="codacontent">
                                                <h1 class="title">The Most Powerful, Flexible Documentation Tool Ever.</h1>
                                            </div>
                                        </div><!--Use Nested Grids to Position Elements-->
                                        <div class="grid_6 omega">
                                            <div class="codacontent">
                                                <p>Dexy is deceptively simple, letting you get started in minutes, but powerful enough to accommodate even the most sophisticated user.
                                                </p>
                                                <div class="clear"></div>
                                            </div>
                                        </div><!--Use Nested Grids to Position Elements-->
                                        <div class="clear"></div>
                                    </div><!--Place Slide Content Inside This Panel Wrapper-->
                                </div>
                            </div>
                        </div>
                        <div id="coda-nav-right-1" class="coda-nav-right"><a href="#" title="Slide right">Right</a></div><!--Absolute Positioned Scroll Arrows-->
                        <div id="coda-nav-left-1" class="coda-nav-left"><a href="#" title="Slide left">Left</a></div><!--Absolute Positioned Scroll Arrows-->
                    </div>
                </div>
                <div class="clear"></div>
                <div class="featuredtop"></div><!--Top Texture-->
            </div>
        </div>

        <div class="featuredband nivoband"><!--Bottom Crecent Band-->
            <div class="featuredbandtexture"></div><!--Crecent Band Texture-->
        </div>

        <!--Begin Callout Section-->
        <div class="callout">
            <div class="calloutcontainer">
                <div class="container_12">
                    <div class="grid_12">
                        {{ content.callout }}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="calloutoverlay"></div>
                <!--Top Texture Absolute Positioned-->
                <div class="calloutoverlaybottom"></div>
                <!--Bottom Texture Absolute Positioned-->
            </div>
        </div>
        <!--End Callout Section-->
        <!--End Coda Slider Section-->
        <div class="clear"></div>
        <div class="container_12">
            <!--Start Full Width Featured Tabs-->
            <div id="tabs">
                <div class="grid_8">
                    <!--Tab Section 1-->
                    <div id="tabs-1" class="panel">
                        <h2>See Code Run</h2>
                        <p>Dexy helps your code to speak for itself. Show off your code with beautiful syntax highlighting. Write examples and Dexy will run them, inserting the output into any document you wish. Everything is based on live code, so updating is easy, syntax errors blow up on you, not your users, and typos are a thing of the past. With Dexy's smart caching, your code is only executed when it needs updating, saving you time while keeping your documents robust.</p>
                    </div>
                    <!--Tab Section 2-->
                    <div id="tabs-2" class="panel">
                        <h2>Dexy Speaks Your Language</h2>
                        <p>Language-specific documentation tools make it impossible for you to document all of your project on equal terms. With Dexy, you can document your whole project with one tool, while still taking advantage of each language's special features. Even if you do write in just one language, Dexy will help you show it off like never before. If you have invented a new language, congratulations! Dexy can support it in minutes.</p>
                    </div>
                    <!--Tab Section 3-->
                    <div id="tabs-3" class="panel">
                        <h2>You are in control of your docs.</h2>
                        <p>Unlike some other documentation tools, Dexy doesn't care how you
                        organize your project.  Choose from a wide range of document
                        formats, and use any markup language you want.  Mix and match as
                        much as you like in any project. You can use Dexy to create books,
                        websites, blog posts, or all of these at once.
                        </p>
                    </div>
                    <!--Tab Section 4-->
                    <div id="tabs-4" class="panel">
                        <h2>Hack Dexy's filters to do more.</h2>
                        <p>Dexy's filters do things like run your code and make it pretty, but they can also do just about anything else, like post your docs to a blog or a wiki, or fetch data from an API.</p>
                    </div>
                    <!--Add More Tab Sections Here-->
                    {{ content }}
                </div>
                <div class="grid_4">
                    <ul>
                        <!--Tab Nav 1-->
                        <li> <a href="#tabs-1"><img src="images/icons/action_refresh_blue.gif" alt="icon"/><span><strong>Live Code</strong> <br/>
                                Write correct docs. Keep them like that.</span></a> </li>
                        <!--Tab Nav 2-->
                        <li> <a href="#tabs-2"><img src="images/icons/comment_new.gif"  alt="icon" /><span><strong>Multiple Languages</strong> <br/>
                                Who uses just one language anymore?</span></a> </li>
                        <!--Tab Nav 3-->
                        <li> <a href="#tabs-3"><img src="images/icons/page_attachment.gif"  alt="icon" /><span><strong>Any Kind of Document</strong> <br/>
                                Text, HTML, LaTeX, Whatever</span></a> </li>
                        <!--Tab Nav 4-->
                        <li> <a href="#tabs-4"><img src="images/icons/icon_world_dynamic.gif"  alt="icon" /><span><strong>Automagic Automation</strong> <br/>
                                Seamless integration with any API.</span></a> </li>
                        <!--Add More Feature Tabs Here-->
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!--END Full Width Featured Tabs-->
        </div>
        <div class="clear"></div>
        {% include 'templates/_footer_menu.html' %}
        {% include 'templates/_script.html' %}
    </body>
</html>
