<div class="topbar"><!--Top Texture-->
    <div class="container_12" id="pagetop">
        <!--Start Logo-->
        <div class="grid_3"> <a href="/"><img src="/images/logo.png" alt="logo" /></a> </div>
        <!--End Logo-->
        <!--Start Navigation-->
        <div class="grid_9 nav">
            <ul class="sf-menu">
                <li><a href="/docs">Docs &amp; Help</a></li>

                <li>
                <a href="/ref"><span>Plugin Reference</span></a>
                <ul>
                    <li><a href="/ref/filters">Filters</a></li>
                </ul>
                </li>

                <li><a href="http://github.com/dexy/dexy">Source Code &loz;</a> </li>
                <li><a href="http://blog.dexy.it">Dexy Blog &loz;</a> </li>
                <li><a href="mailto:info@dexy.it">info@dexy.it</a> </li>
            </ul>
        </div><!--End Navigation-->
    </div>
</div>
<div class="clear"></div>
