{% extends 'templates/_base.html' -%}

{% from '_pages.jinja' import next_page, previous_page with context -%}

{% block extra_breadcrumbs -%}
  &bull; 
  
  {% if previous_page -%}
  <a href="{{ previous_page }}.html"><span>&lt;&lt;{{ titleize(previous_page) }}</span></a> |
  {% endif -%}
  
  <span>{{ s.title() }}</span>
  
  {% if next_page -%}
  | <a href="{{ next_page }}.html"><span>{{ titleize(next_page) }} &gt;&gt;</span></a>
  {% endif -%}

{% endblock -%}

{% block maincontent -%}
<div class="grid_10">
  {% include "templates/_guide_nav_buttons.html" -%}

  {{ content }}

  <p></p>
  {% include "templates/_guide_nav_buttons.html" -%}

</div>
{% endblock -%}
