<div class="grid_9 alpha">
    <!-- split "index" -->
    <h2>Dexy Filter Reference</h2>
    <p><a href="#tags">Browse filters by tag</a> or view an <a href="#filters">alphabetical list of all filter aliases</a>.</p>

    <h2 id="tags">Tags</h2>
    {% for tag, aliases in d['filter-tags.json'].from_json() -%}
    <h4 id="tag-{{ tag }}"><a href="#tag-{{ tag }}">{{ tag }}</a></h4>
    {% set bull = joiner("&bull;") -%}
    {% for alias, helpstring in aliases -%}
    {{ bull() }} <a title="{{ helpstring }}" href="{{ alias }}">{{ alias }}</a>
    {% endfor -%}
    {% endfor -%}

    <h2 id="filters">Filters</h2>
    <p>These are the currently available built-in filters for Dexy. Filters can be used to interpret or compile and run code for a programming language, to syntax highlight code, to interact with an API either to read or publish data, or pretty much anything else you can think of. Filters are "just code" so you can do whatever you want. It's easy to customize filters for tasks specific to your project, or you can write generic filters and, if you want, submit them to the Dexy project.</p>
    {% set current_release = '0.9.9.5' -%}
    {% set new_feature_release_cutoff = '0.9.9.4' -%}
    <p>Icons used:</p>
    <p><i class="icon-pencil"></i> example</p>
    <p><i class="icon-flag"></i> newly added filter (in version {{new_feature_release_cutoff}} or later)</p>
    <p><i class="icon-wrench"></i> filter added after current released version {{current_release}}. Will be in next dexy release or is available now if you install dexy from the `develop` branch.</p>


    {% set filter_info = d['filter-info.json'].json_as_dict() -%}
    {% for k in sorted(filter_info) -%}
    {% set v = filter_info[k] -%}

    {% set count=len(v['examples']) -%}

    {% if v['settings']['added-in-version'][1] > current_release -%}
    {% set newicon = "<i class=\"icon-wrench\"></i>" -%}
    {% elif v['settings']['added-in-version'][1] >= new_feature_release_cutoff -%}
    {% set newicon = "<i class=\"icon-flag\"></i>" -%}
    {% else -%}
    {% set newicon = "" -%}
    {% endif -%}

    <!-- split "{{k}} {{newicon}} ({{ " ".join(v.aliases) }}) {{ "<i class=\"icon-pencil\"></i>" * count }}" -->

    <p><a href="/filters/" class="button light small">&larr; Back to Filter List</a></p>

    <h2>{{ k }}</h2>
    <br />

    {% if count > 0 -%}
    <p><a href="#examples">&darr; examples</a></p>
    {% endif -%}

    {% if v['doc'] -%}
    <p>{{ v['doc'] }}</p>
    {% endif -%}

    <h3>Aliases for this filter</h3>
    <ul class="split">
        {% for alias in v['aliases'] -%}
        <li><code>{{ alias }}</code></li>
        {% endfor -%}
    </ul>

    <br />

    <h3>Converts from file formats:</h3>
    <ul>
        {% for ext in v.settings['input-extensions'][1] -%}
        <li><code>{{ ext }}</code></li>
        {% endfor -%}
    </ul>

    <br />

    <h3>To file formats:</h3>
    <ul>
        {% for ext in v.settings['output-extensions'][1] -%}
        <li><code>{{ ext }}</code></li>
        {% endfor -%}
    </ul>

    <br />

    <h3>Available settings:</h3>
    <table class="filter-settings">
        <tr><th width="30%">Setting</th><th width="60%">Description</th><th width="20%">Default</th></tr>
        {% for name in sorted(v.settings) -%}
        {% set setting_info = v.settings[name] -%}
        {% if not name in ('aliases',) -%}
        <tr><td>{{ name }}</td><td>{{ setting_info[0] }}</td><td>{{ setting_info[1] }}</td></tr>
        {% endif -%}
        {% endfor -%}
    </table>

    <div id="examples"></div>

    {% for example_text in v.examples -%}

    {{ example_text }}

    {% endfor -%}

    {% if v['defined_by_subclass'] -%}

    <div class="divider">
        <h5><span>Filter Source Code</span></h5>
        <!--Divider With Titling-->
    </div>

    {{ v['html_source'] }}

    {% endif -%}

    {% endfor %}

    <p><a href="/docs/filters/" class="button light small">&larr; Back to Filter List</a></p>

    <!-- endsplit -->

</div>
